body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 1em;
    background-color: #f4f4f4;
  }
  h1 {
    color: brown;
  }
  h2 {
    color: brown;
  }
  table {
    width: 100%;
    border-collapse: collapse;
  }
  table, th, td {
    border: 1px solid black;
  }
  th, td {
    padding: 8px;
    text-align: left;
  }
  button {
    background-color: rgb(144, 144, 234);
    color: white;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 5px;
  }
  .save-session-name {
    margin-left: 3px;
  }